<div class="side-bar-header">
  <div class="header-logo">
    <%= link_to image_tag("logo.png", class:"header-icon"), "/" %>
  </div>
  <div class="create-room">
    <a href="#">マッチング一覧</a>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-user">
        <%= link_to room.id, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>