<footer>
  <div class="footer__bar">
    <div class="footer-menu-list">
      <div class="footer_menu">お問い合わせ</div>
      <div class="footer_menu">プライバシーポリシー</div>
    </div>
  </div>
  <p>
    RopeWay
  </p>
</footer>