.profile-new-contents{
  text-align: center;
  width: 1000px;
  float: center;
  margin: auto;

}

.profile-new-main{
  float: center;
}

.profile-new-title{
  font-size: 20px;
  float: center;
  margin: 30px auto;
}

.pr-text{
  width: 400px;
}

.age-input{
  width: 40px;
}